.promoText {
    text-align: center;
    max-width: 45rem;
    margin: auto;
    width: 90%;
    margin-top: -10rem;
    position: relative;
    background-image: linear-gradient(180deg, #050505d6, #3e3d3dd2);
    color: white;
    border-radius: 35px;
    padding: 1.5rem;
    box-shadow: 0 1px 20px 10px rgba(0, 0, 0, 0.35);
    font-size: 18px;
    line-height: 1.7;
}

.promoText p {
    margin-top: 10px;
}

.promoText h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}